.navbar{
    background-color: rgba(240, 240, 235, 0.979) !important;
    
}
.nav-link{
    color: #663399 !important;
    font-weight: bold !important;
    border-radius:  30px  !important;
    
}
.nav-item{
    /* border: 2px solid !important; */
    border-radius: 20px !important;
    height: 40px !important;
}
.nav-item:hover, .nav-link:active{
    /* background-color:rgba(53, 138, 248, 0.966) ; */
    background-color: rgba(255, 255, 0, 0.178) !important;
    color: black !important;
}

.nav-link:hover{
    
    /* border-radius:  10px  !important; */
}
.fa{
    font-size: 30px !important;
}

        /* < FOR MAIN HEADING  */


.m-head{
    margin-top: 110px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(124, 46, 158);
    background-color: rgba(250, 248, 248, 0.205);

}

                  /* FOR CARD */



.newarrivals{
    margin-top: 50px;
    
}
.card-text{
    font-weight: bold !important;
}
.btn-primary{
    width: 100% !important;
   background-color:  rgba(240, 240, 235, 0.979) !important;
   color:rgb(124, 46, 158) !important;
   font-weight: bold;
   outline: none !important;

}
.btn-primary:hover{
    background-color: rgba(255, 255, 0, 0.178) !important;
}
.new-arrive-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}




.new-arrive-head>h1{
    color:rgb(124, 46, 158) ;
}


      /* FOR FOOTER */




.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    background-color:rgba(250, 250, 235, 0.959) ;
}
.logo{
    margin-top: 20px;
    /* display: flex; */
    /* flex-direction: row; */

}
.contct>h4{
    margin-top: 20px;
    margin-left: 38px;
    /* display: flex; */
  ;  /* flex-direction: row; */
    color:rgb(124, 46, 158) ;
}
.follow>h4{
    margin-top: 20px;
    margin-left: 40px;
    /* display: flex; */
    /* flex-direction: row; */
    color:rgb(124, 46, 158) ;
    /* display: inline-block; */
}
.ftrpara1, .ftrpara2,.ftrpara3,.ftrpara4{
    display: inline-block;
    margin-left: 5px;
    /* border: 5px solid; */
}
.fa-map-marker{
    margin-top: 4px;
    /* border: solid 3px; */
}
#socialicon{
    display: inline-block;
    margin: 5px;
    /* border: 3px solid; */
}
a:hover{
    color: rgb(139, 115, 115)!important;
}
a:visited{
     color:rgb(124, 46, 158);
}
a:link{
    color:rgb(124, 46, 158) ;
}

            /* FOR COPYRIGHT */


.copy-right{
    height:  50px;
    background-color:rgba(240, 240, 235, 0.979) ;
    display: flex;
    justify-content: start;
    /* border: solid 3px; */
    
}
.copy-right>p{
    margin-top: auto;
    color: rgb(124, 46, 158);
    margin-left: 30px;
}
/* @media screen and(max-width:500px){
    .copy-right>p{
        font-size: 3px;
    }
}
@media screen and(min-width:501px){
    .copy-right>p{
        font-size: 1em;
    }
} */


/* for sign up */

.signup{
    /* width: 500px; */
    /* border: 3px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 15px;
}
fieldset{
    /* border: 3px solid; */
    /* width: 600px; */
}
.login{
    width: 500px;
    /* border: solid 3px; */
    
}
.costumer-head>h3{
    margin-top: 20px;
    text-align: center;
    color:rgb(124, 46, 158) ;
}
.login>h6{
    margin-top: 50px;
    /* margin-left: 100px; */
    text-align: center;
}


input{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

#buttt{
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgba(240, 240, 235, 0.979);
    color:rgb(124, 46, 158) ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
}
#buttt:hover{
    background-color:rgba(255, 255, 0, 0.178)  ;
}
.new-account>h6{
    margin-top: 53px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid 3px; */
}
.new-account{
    width: 500px;
    /* border: solid 3px; */
    /* margin-top: 30px; */
}
.new-account>a>#n-account{
    border: none;
    width: 200px;
    border-radius: 20px;
    background-color:rgba(240, 240, 235, 0.979);
    color:rgb(124, 46, 158) ;
    margin-top: 10px;
    padding: 10px;
}   
.new-account>a>#n-account:hover{
    background-color: rgba(255, 255, 0, 0.178);
}

   /* FOR CREATE NEW ACCOUNT */


.create-account{
  margin-top: 20px ;
  margin-left: 20px;
  width: 500px;
  /* border: solid 3px; */
}
.create-account>h2{
    text-align: center;
    color: rgb(124, 46, 158);
}
.create-account>h4{
    margin-top: 20px;
}
.create-account2{
  margin-top: 20px ;
  margin-left: 20px;
  width: 500px;
}
#account-create{
    border: none;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(240, 240, 235, 0.979);
    color:rgb(124, 46, 158) ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
}
#account-create:hover{
    background-color: rgba(255, 255, 0, 0.178);

}

        /* FOR CONTACT US */


.contact-head>h1{
    /* border: solid 3px; */
      margin-top: 20px;
      text-align: center;
      color:rgb(124, 46, 158) ;
}


.contact-email{
    display: inline-block;
}
.contact-email>p>a:visited{
     color: black;
}
.contact-butt{
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgba(240, 240, 235, 0.979);
    color:rgb(124, 46, 158) ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

}
.contact-butt:hover{
    background-color: rgba(255, 255, 0, 0.178);
}
textarea{
    margin-top: 10px;
     margin-left: auto; 
    padding: 7px;
}
.contct-us-form1{
    margin-left: 20px !important;
}


   /* FOR ABOUT */
 
.about-head{
    margin-top: 20px;
    text-align: center;
    color:rgb(124, 46, 158) ;

}   
.about-para{
    margin: auto;
    padding: 50px;
    padding-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
    /* border: solid 3px; */


}
.about-para1{
    /* border: solid 3px; */
}

     /* FOR MEN COLLECTION */


.new-men-head>h1{
    /* border: 2px solid; */
    margin-top: 20px;
    text-align: center;
    color:rgb(124, 46, 158)  ;
}


     /* FOR ADD TO CART */

div>.idnum{
    margin-top: 50px;
    /* border: solid 3px; */
}
#cartimage{
    /* border: solid 3px; */
    margin-top: 30px;
    
}
.m-head-cart{
    margin-top: 30px;
    text-align: center;
    color:rgb(124, 46, 158) ;
}

.detailcard{
    /* border: solid 3px; */
    margin-top: 40px;
}

#pricecard1{
    margin-top: 20px;
}
#pricegst{
    color: red;
    font-size: 9px;
}
/* .radiobt>label{
    border: solid 3px;
    border-radius: 40px;
    display: inline-block;
    width: 40px;
    padding: 15px;
    background-color: rgba(240, 240, 235, 0.979);
    
} */
.uiradiobtn{
    display: inline-block;
    list-style: none;
    /* border: solid 3px; */
    
    
}
.uiradiobtn>li{
    display: inline-block;
    /* padding: 10px; */
    width: 50px;
    border-radius: 70px;
    background-color: rgba(240, 240, 235, 0.979);
    color: rgb(124, 46, 158);
    text-align: center;
    


}
.radiobt{
    /* font-size: 20px; */
    margin-top: 20px;
    
}
#size{
    font-size: 1.5em;
    margin-top: 25px;
}
.uiradiobtn>li:hover{
    background-color: rgba(255, 255, 0, 0.178);
}
.radiobt{
    /* border: solid 3px; */
    /* width: 350px; */
}


#addBgBtn{
    border: none;
    width: 70%;
    /* border: solid 3px; */
    border-radius: 20px;
    background-color: rgba(240, 240, 235, 0.979);
    color:rgb(124, 46, 158) ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

}

#addBgBtn:hover{
    background-color: rgba(255, 255, 0, 0.178);
}

.bag1image2{
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
}
#pricecard1{
    font-size: 2em;
    font-weight: bold;
}
#stock{
    margin-top: 10px;
}
.idnum{
    font-weight: bold;
}



.back-toTop>.fa-angle-double-up{
    position: fixed ;
    top: 92%;
    left: 92%;
    /* bottom: 10%; */
    /* font-size: 300% !important; */
    /* border: solid 3px; */
}






















@media screen and(min-width:451px){
    .new-arrive-head>h1,.m-head>h1{
        font-size: 60px;
    }
}


@media screen and(max-width:450px){
    .new-arrive-head>h1,.m-head>h1{
        font-size: 20px;
    }
}

@media screen and (max-width:600px){
    .logo,.contct,.follow{
        width: 70%;
    }
    
}
@media screen and (max-width: 860px){
    .follow,.contct,.logo{
        width: 70%;
    }
}
@media screen and (max-width: 480px){
    .logo,.contct,.follow{
        width: 100%;
    }
}
@media screen and(max-widht: 340px){
    .contct{
        width: 30%;
    }
}
@media screen and(min-widht: 300px){
    .logo{
        max-width: 50%;
    }
}

@media only screen and (max-width: 342px) {
    .ftrpara1,.ftrpara2,.ftrpara3,.ftrpara4 {
      font-size: 12px;
    }
  } 
  @media only screen and (max-width: 330px) {
    .contct>ul>li>a>i{
      /* width: 20px; */
    }
  }
  @media only screen and (max-width: 330px) {
    .logo>img {
      width: 250px;
    }
  }
@media  screen and(max-width:350px){
    .logo>img{
        width: 50%;
    }
}
@media screen and (max-width: 300px){
    .logo,.contct,.follow{
        width: 100%;
    }
}

@media screen and(max-widht: 350px){
    .footer{
        width: 100%;
    }
}
@media screen and(max-widht: 340px){
    .footer{
        width: 80%;
    }
}

@media screen and (max-width:540px){
    .create-account{
        width: 90%;
    }
}


@media screen and (max-width:540px){
    .create-account2{
        width: 90%;
    }
}
@media screen and (max-width:215px){
    .create-account{
        width: 50%;
    }
}
@media screen and (max-width:530px){
    .create-account>h2{
        font-size: 30px;
    }
}
@media screen and (max-width:495px){
    .create-account>h2{
        font-size: 25px;
    }
}
@media screen and (max-width:410px){
    .create-account>h2{
        font-size: 20px;
    }
}
@media screen and (max-width:495px){
    .create-account>h4 ,.create-account2>h4{
        font-size: 18px;
    }
}
@media screen and (max-width:410px){
    .create-account>h4 ,.create-account2>h4{
        font-size: 15px;
    }
}

@media screen and(max-width:1125px){
    .contct-us2{
        width: 20%;
        font-size: 12px;
    }
}
@media screen and (max-width:450px){
    .costumer-head>h3{
        font-size: 22px;
    }
}
@media screen and (max-width:495px){
    .contact-head>h1{
        font-size: 28px;
    }
}


        




     /* FOR ADD TO CART */


@media screen and (min-width: 601px) {
    .m-head-cart>h1,.new-arrive-head>h1,.m-head>h1{
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .m-head-cart>h1,.new-arrive-head>h1,.m-head>h1 {
      font-size: 30px;
    }
  }
@media screen and (max-width: 450px){
    #cartimage{
        width: 300px;
    }
}
@media screen and (max-width: 330px){
    #cartimage{
        width: 250px;
    }
}

@media screen and (max-width:450px){
    .uiradiobtn>li{
        width: 40px;

    }
}
@media screen and (max-width:330px){
    .uiradiobtn>li{
        width: 30px;

    }
}
@media screen and(max-width:470px){
    #addBgBtn,.addBagBtn{
        /* width: 80% ; */
    }
}






