/* .navbar{
    background-color: #FFFF00 !important;
    
}
.nav-link{
    color: #663399 !important;
    font-weight: bold !important;
    border-radius:  30px  !important;
    
    
}

.nav-link:hover{
    color: rgba(207, 200, 200, 0.842) !important;
    /* border-radius:  10px  !important; */
}
.fa{
    font-size: 30px !important;
} */